@font-face {
font-family: 'Gilroy';
font-style: normal;
font-weight: normal;
font-display: swap;
src: url('');
}

body {
    font-family: 'Gilroy';
    font-size: 16px;
}
.menu{
background: #E5E5E5;}
.menu_img_dog{position: absolute;
width: 718px;
height: 713px;
left: 538px;
top: 0px;

background: url(dog.jpg);
border-radius: 0px 0px 8px 8px;
}
.menu_img_cat{position: absolute;
width: 483px;
height: 469px;
left: 607px;
top: 470px;

background: url(cat.png);}

.menu_text1{position: absolute;
width: 90px;
height: 19px;
left: 110px;
top: 54px;}
.menu_link1{height: 19px;
width: 86px;
left: 110px;
top: 0px;
border-radius: nullpx;

position: absolute;
left: 0%;
right: 4.44%;
top: 0%;
bottom: 0%;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #242424;}
.menu_text2{position: absolute;
width: 176px;
height: 19px;
left: 228px;
top: 54px;
}
.menu_link2{position: absolute;
left: 0%;
right: 1.14%;
top: 0%;
bottom: 0%;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Gray 2 */

color: #242424;
}
.menu_text3{position: absolute;
width: 48px;
height: 19px;
left: 596px;
top: 54px;}
.menu_link3{position: absolute;
left: 0%;
right: 6.25%;
top: 0%;
bottom: 0%;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Gray 2 */

color: #242424;}
.menu_text4{position: absolute;
width: 73px;
height: 19px;
left: 672px;
top: 54px;}
.menu_link4{position: absolute;
left: 0%;
right: 1.37%;
top: 0%;
bottom: 0%;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* Gray 2 */

color: #242424;}
.menu_link_img1{position: absolute;
width: 49px;
height: 49px;
left: 1033px;
top: 39px;}
.menu_link_img2{position: absolute;
width: 49px;
height: 49px;
left: 1110px;
top: 39px;}
.title{position: absolute;
width: 659px;
height: 77px;
left: 110px;
top: 164px;

/* H1 Bold 72 */

font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 77px;
line-height: 87px;
display: flex;
align-items: center;

/* Gray 2 */

color: #242424;}
.sub_title{
position: absolute;
width: 659px;
height: 18px;
left: 110px;
top: 243px;

font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;

/* Gray 4 */

color: #6B6B6B;}
.sub_title_aim{position: absolute;
width: 659px;
height: 44px;
left: 110px;
top: 273px;

/* Text md semibold */

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Gray 3 */

color: #474747;}
.sub_title_box{position: absolute;
width: 772px;
height: 404px;
left: -2px;
top: 374px;}
.sub_title_text{position: absolute;
width: 428px;
height: 116px;
left: 110px;
top: 360px;

font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #C78100;}
.sub_title_text1{position: absolute;
width: 474px;
height: 107px;
left: 296px;
top: 671px;

background: #FFFFFF;}
.sub_title_text2{position: absolute;
width: 534px;
height: 107px;
left: -2px;
top: 566px;

background: #FFFFFF;
opacity: 0.6;}
.sub_title_text3{position: absolute;
width: 474px;
height: 107px;
left: 296px;
top: 671px;

background: #FFFFFF;
opacity: 0.5;}
