@font-face {
font-family: 'Gilroy';
font-style: normal;
font-weight: normal;
font-display: swap;
src: url('');
}

body {
    font-family: 'Gilroy';
    font-size: 16px;
}
.menu_link1{position: absolute;
    left: 0%;
    right: 4.44%;
    top: 0%;
    bottom: 0%;
color: #242424;
}
.menu_link2{position: absolute;
    left: 0%;
    right: 1.14%;
    top: 0%;
    bottom: 0%;
}
.menu_link3{position: absolute;
    left: 0%;
    right: 6.25%;
    top: 0%;
    bottom: 0%;
}
.menu_link4{position: absolute;
    left: 0%;
    right: 1.37%;
    top: 0%;
    bottom: 0%;}
.menu{background: #E5E5E5;
}
.menu_link_img1{position: absolute;
width: 40px;
height: 40px;
left: 1084px;
top: 41px;
background: #F6F6F6;}
.menu_link_img2{position: absolute;
width: 30px;
height: 30px;
left: 1148px;
top: 46px;
background: #F6F6F6;}
.title{position: absolute;
    width: 594px;
    height: 87px;
    left: 110px;
    top: 164px;
    color: #242424;
    font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 87px;
}
.sub_title {position: absolute;
    width: 594px;
    height: 18px;
    left: 110px;
    top: 243px;
    
    color: #6B6B6B;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;}
.sub_title_aim {position: absolute;
        width: 594px;
        height: 44px;
        left: 110px;
        top: 273px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        
        
        color: #474747;}
.sub_title_text{position: absolute;
            width: 415px;
            height: 116px;
            left: 110px;
            top: 360px;
            
            
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            
            color: #5A5757;
            }
.button_title{position: absolute;
    left: 27.2%;
    right: 28.01%;
    top: 29.42%;
    bottom: 30.19%;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    
    color: #FFFFFF
    background: #18A0FB;
    order-radius: 6px;}
.here_title{position: absolute;
        width: 464px;
        height: 94px;
        left: 693px;
        top: 962px;
        font-family: Gilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #242424;}
.here_subtitle{position: absolute;
    width: 464px;
    height: 155px;
    left: 693px;
    top: 1084px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%; 
    color: #242424;}
.how_title{position: absolute;
    width: 368px;
    height: 24px;
    left: 0px;
    top: 0px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #242424;}
.how_img1_text{position: absolute;
    width: 166px;
    height: 72px;
    left: 111px;
    top: 1803px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    
    color: #474747;}
.how_img2_text{position: absolute;
    width: 166px;
    height: 66px;
    left: 356px;
    top: 1809px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #474747;}
.how_img3_text{position: absolute;
    width: 166px;
    height: 66px;
    left: 601px;
    top: 1809px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #474747;}
.how_img4_text{position: absolute;
    width: 166px;
    height: 66px;
    left: 846px;
    top: 1809px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;

    color: #474747;}
.how_img5_text{position: absolute;
    width: 166px;
    height: 66px;
    left: 1091px;
    top: 1809px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    color: #474747;}
.how_subtitle{position: absolute;
    width: 378px;
    height: 32px;
    left: 284px;
    top: 2167px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;

    display: flex;
    align-items: center;

    
    color: #242424;}
.how_subtitle2{position: absolute;
    width: 378px;
    height: 32px;
    left: 773px;
    top: 2167px;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;

    display: flex;
    align-items: center;
    color: #242424;}
.how_subtitle_text{position: absolute;
    width: 389px;
    height: 132px;
    left: 284px;
    top: 2219px;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: #242424;}
.how_subtitle_text2{position: absolute;
    width: 389px;
    height: 132px;
    left: 770px;
    top: 2219px;
    

    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: #242424;}
.our_title{}
